.filter-list {
	margin-top: 10px;
	width: 100%;
	min-height: 54px;
}

	.filter-list__filter {
		width: 100%;
		margin-bottom: 5px;
		background-color: #ee6e73;
		color: white;
	}

	.filter-list__filter:hover {
		background-color: #bf3137;
		cursor: pointer;
	}
